html {
	height: 100%;
}
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	padding-top: 70px;
}
.centered {
    text-align:center;
}
.twitter-timeline {
	padding-left: 5px;
	padding-right: 5px;
}
.player {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;
}
.img-responsive {
	padding-left: 5px;
	padding-right: 5px;
}
.twitch-subs {
	padding-left: 5px;
	padding-right: 5px;
}
.button-color-twitch {
	color: white;
}
.text-ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.subs {
	font-size: 150%;
}
.dark-title {
	color: black;
}
